/* font-family: 'Almarai', sans-serif;
font-family: 'Amiko', sans-serif;
font-family: 'Athiti', sans-serif; */
* {
  text-align: center;
  font-family: 'Athiti', sans-serif; 

}


.landing-page {
  background-image: linear-gradient(to bottom, #26437a, #88a6dd);
  height: 100vh;
  color: whitesmoke;
  padding-top: .5em;
  font-family: 'Athiti', sans-serif; 
  font-weight: bolder;
}

.materia-img {
  width: 5em;
  height: 5em;
}

.welcome {
  border-top: solid 2px #e7dfe7;
  border-bottom: solid 2px #e7dfe7;
  padding: .3em;
  border-radius: .5em;
  box-shadow: 1px 1px #e7dfe7,
  -1px -2px #e7dfe7,

}

.login-button {
  background-color: #284883;
  color: whitesmoke;
}

.onboarding  {
  margin: 2em;
  background-image: linear-gradient(to bottom, rgb(128, 47, 94), rgb(90, 35, 67));
  padding: .25em;
  text-shadow: 1px -1px #333;
  border-radius: .5em;
  border: solid 1px #424542;
  box-shadow: 1px 2px #e7dfe7,
              -1px -2px #e7dfe7,
              /* 1px -1px #e7dfe7,
              -1px 1px #e7dfe7, */
              -2px 0 #7b757b,
              0 2px #424542;
}

a {
  color: lightblue;
  text-decoration: underline;
}

button {
  border-radius: 1em;
  transition-duration: .3s;
  font-size: 14px;

}

.materia-img {
  transition: transform 1s ease-out
}

.materia-img:hover {
  transform: rotate(360deg);
}

button:hover , button:focus {
  background-color: whitesmoke;
  color: #284883;
}

.lets-mosey {
  font-size: 16px;
}

