.landing-page {
  background-color: #26437a;
  height: 100%;
  width: 100vw;
  color: whitesmoke;
  padding-top: .5em;
}

h1 {
  border: solid 1px;
  padding: .3em
}

.login-button {
  background-color: #234177;
  color: whitesmoke;
}

p {
  margin: 2em;
}

a {
  color: lightblue;
  text-decoration: underline;
}