button {
  background-color: #284883;
  color: whitesmoke;
  margin: .5em
}

.register-container, .login-container, .LoginOrRegister {
  color: whitesmoke;
  padding-top: .5em;
  padding-bottom: 10em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.password-instructions {
  margin: auto;
  margin-bottom: 1em;
}

.lets-mosey {
  margin: 1em;
  font-size: 16px;
}