button {
  background-color: #284883;
  color: whitesmoke;
  margin: .5em
}



.register-container, .login-container, .LoginOrRegister {
  color: whitesmoke;
  padding-top: .5em;
  padding-bottom: 10em;
}

.login-form {
  display: flex;
  flex-direction: column;
}


.password-instructions {
  margin: auto;
  margin-bottom: 1em;
}

#message {
  font-family: 'Almarai', sans-serif;
  margin: auto;
  margin-bottom: .5em;
  color: #b043b0;
  font-weight: 800;
  padding: .5em;
  background-color: rgb(9, 9, 59);
  width: fit-content;
  border-radius: 10px;
}


.lets-mosey {
  margin: 1em;
  font-size: 16px;
}