button {
  background-color: #284883;
  color: whitesmoke;
}



.register-container, .login-container, .LoginOrRegister {
  background-image: linear-gradient(to bottom,#88a6dd, #26437a);
  height: 100vh;
  color: whitesmoke;
  padding-top: .5em;
  padding-bottom: 10em;
}


.password-instructions {
  margin: auto;
  margin-bottom: 1em;
}

#message {
  font-family: 'Almarai', sans-serif;
  margin: auto;
  margin-bottom: .5em;
  color: #b043b0;
  font-weight: 800;
  padding: .5em;
}
/* 
.sword-img {
  transform: rotate(240deg);
  position: relative;
  right: 50%;
} */

.login-button {
  margin: 1em;
  font-size: 16px;
}