
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  padding: 2em;
  min-width: 10em;
  max-width: 70%;
  min-height: 10em;
  max-height: 30em;
  background-image: linear-gradient(to bottom right, rgba(14,51,95,.9), rgba(4, 3, 44, 0.9));
  border-radius: 1em;
  transform: translate(-50%, -50%);
  border: solid 1px #e7dfe7;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              -2px 0 #7b757b,
              0 2px #424542;
}

.overlay {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  color: #4dbdd6;
  font-weight: 700;
}

.overlay {
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* 
.add-guide-button {
  background-color: #04009d;
  margin-bottom: .5em;
  margin-top: 1em;
  color: white;
  font-size: 14px;
} */

#add-guide-form input {
  margin: auto;
  margin-bottom: .5em;
  display: block;
}

