body {
  background-color: rgba(0, 0, 0, 0.3);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  padding: 2em;
  min-width: 10em;
  max-width: 70%;
  min-height: 10em;
  max-height: 30em;
  background-image: linear-gradient(to bottom right, rgba(4,0,157,1), rgba(4, 3, 44, 0.7));
  border-radius: 1em;
  transform: translate(-50%, -50%);
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              -2px 0 #7b757b,
              0 2px #424542;
}

.overlay {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  color: white;
}

.overlay {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.add-guide-button {
  background-color: #04009d;
  margin-bottom: .5em;
  color: white;
}


/* div.ff7{ */

/*   
  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );


  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
} */
