* {
  text-align: center;
}

#expand {
  font-size: 12px;
  width: 15em;
  color: whitesmoke;
}

.monster {
  border: solid 1px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  width: 50%
}