* {
  text-align: center;
}

#expand {
  font-size: 14px;
  width: 15em;
}

#expand:hover, #expand:focus {
  color: #26437a;
}

.monster {
  border: solid 1px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  width: 50%
}

