* {
  text-align: center;
}

#expand {
  font-size: 14px;
  width: 13em;
  margin: auto;
}

#expand:hover, #expand:focus {
  color: #26437a;
}

.monster {
  border: solid 1px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  width: 50%;
  font-weight: 700;
  text-shadow: 1px -.5px #333;
}

