.add-monster-container {
background-image: linear-gradient(to bottom, rgba(51,99,180,1), rgba(3, 3, 27, 0.8));
color: whitesmoke;
padding-top: 2em;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 16px;
}

input {
  margin-bottom: 1.5em;
  margin-top: .5em;
  width: 10em;
  background-color: #696969;
  color: whitesmoke;
  border: solid 2px #555454;
  box-shadow: #5a5350;
  font-size: 16px;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

input:focus {
  background-color: #f1b1c5;
  border: solid 1px #807e80;
  color:  rgb(90, 35, 67);
}

.add-monster-container #message {
  border: none;
}

.form-description {
  margin: 2em;
  margin-bottom: .5em;
  background-image: linear-gradient(to bottom, rgb(128, 47, 94), rgb(90, 35, 67));
  padding: .25em;
  border-radius: .5em;
  border: solid 1px #424542;
  box-shadow: 1px 2px #e7dfe7,
              -1px -2px #e7dfe7,
              /* 1px -1px #e7dfe7,
              -1px 1px #e7dfe7, */
              -2px 0 #7b757b,
              0 2px #424542;
}

.add-monster-container button {
  margin-bottom: 1em;
  margin-top: 0;
}