

#add-monster-form button {
  margin-bottom: 1em;
  margin-top: 0;
  margin-left: 2em;
}

input {

  width: 10em;
  background-color: #696969;
  color: whitesmoke;
  border: solid 2px #555454;
  box-shadow: #5a5350;
  font-size: 16px;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

input:focus {
  background-color: #f1b1c5;
  border: solid 1px #807e80;
  color:  rgb(90, 35, 67);
}


.form-description {
  margin: auto;
  margin-bottom: 1em;
  width: fit-content;
  background-image: linear-gradient(to bottom, rgb(128, 47, 94), rgb(90, 35, 67));
  padding: .25em;
  border-radius: .5em;
  border: solid 1px #424542;
  box-shadow: 1px 2px #e7dfe7,
              -1px -2px #e7dfe7,
              /* 1px -1px #e7dfe7,
              -1px 1px #e7dfe7, */
              -2px 0 #7b757b,
              0 2px #424542;
}

.all-the-inputs { 
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
}

.input-w-label {
  text-align: right;
  margin-right: 15%;
  margin-bottom: 1em;
}

label {
  margin-right: .5em;
}

@media (min-width: 600px) {
  .all-the-inputs { 
    margin-right: 1em;
    margin-left: 1em;
  }
}

@media (min-width: 900px) {
  .all-the-inputs { 
    text-align: right;
    margin: auto
  }
}