.guide-name, .guide-note {
  color: #4dbdd6;

}

.guides-list {
  border: solid 1px;
  border-radius: 5px;
  background-color:  rgb(14,51,95,.7);
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 30%
}