.guide-name, .guide-note {
  color: #4dbdd6;

}

.guides-list {
  border: solid 1px #424542;
  border-radius: 5px;
  box-shadow: 1px 2px #e7dfe7,
              -1px -1px #e7dfe7,
              /* 1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              -2px 0 #7b757b, */
              0 2px #424542;  
  background-color:  rgb(14,51,95,.7);
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 30%
}

.guides button {
  width: 8em;
  margin: auto;
  margin-bottom: .75em;
  margin-right: .25em;
  margin-left: .25em;
  padding: 0
}