
.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.onboarding {
  color: whitesmoke;
}

.PHS {
  background-image: linear-gradient(to bottom right,  rgb(14,51,95), rgb(121,172,229), rgb(30,103,187), rgb(14,51,95));
  padding-bottom: 5em;
}
