form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.sort-and-add {
  margin-top: 2em;
  margin-bottom: 2em;
}


input, select, button {
  width: 10em;
  align-self: center;
  font-size: 14px;
  margin-top: .5em;
}

#add-monster-button {
  width: 7em;
  font-size: 14px;
  margin-left: 1em;
}

select {
  background: #284883;
  color: whitesmoke;
  font-size: 14px;
}